API_DB_HOST=localhost
API_DB_PORT=5432
API_DB_USERNAME=postgres
API_DB_PASSWORD=postgres
API_DB_NAME=accounterbro
API_PORT=3000
DOCUMENTS_DB_HOST=localhost
DOCUMENTS_DB_PORT=5432
DOCUMENTS_DB_USERNAME=postgres
DOCUMENTS_DB_PASSWORD=postgres
DOCUMENTS_DB_NAME=accounterbro_documents
DOCUMENTS_PORT=3001
DOCUMENTS_STORAGE_DRIVER=local-folder
DOCUMENTS_STORAGE_LOCAL_FOLDER_ROOT=.data/documents
WEB_PORT=4200
